# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Environment & secrets
.env
.env.*
*.env

# OS / editor
.DS_Store
.vscode/
.idea/

# Git
.git/

# MLflow local runs
mlruns/

# Logs
*.log
